version: '3.8'

services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: bulk_lookup_development
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b 0.0.0.0"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/bulk_lookup_development
      REDIS_URL: redis://redis:6379/0
      RAILS_ENV: development
      PIDFILE: /app/tmp/pids/server.pid
      ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY: 2UrXQiOG7wXmsBD49BzWuSVHXAZAEvW9
      ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY: 9HiSNJvv3Kmf6a24iRdLK2iCtuwzhg7w
      ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT: OIucxo7FSc3fCWmyWGL9qQpXztKW6VkS
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  sidekiq:
    build: .
    command: bundle exec sidekiq -C config/sidekiq.yml
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/bulk_lookup_development
      REDIS_URL: redis://redis:6379/0
      RAILS_ENV: development
      ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY: 2UrXQiOG7wXmsBD49BzWuSVHXAZAEvW9
      ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY: 9HiSNJvv3Kmf6a24iRdLK2iCtuwzhg7w
      ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT: OIucxo7FSc3fCWmyWGL9qQpXztKW6VkS
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  postgres_data:
  redis_data:
  bundle_cache:
